<div class="container col d-flex justify-content-center">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-header">

      <h3>{{isEditMode == true ? 'Update User' : 'Add New User' }}</h3>

    </div>
    <div class="card-body" style="width: 400px;">

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="title" class="form-label">Name</label>
          <input type="text" class="form-control" id="title" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Email</label>
          <input type="text" class="form-control" id="description" formControlName="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <div class="mb-3">
          <label for="Phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="Phone" formControlName="phone">
        </div>

        <!-- <div class="mb-3">
          <label for="priority" class="form-label">P</label>
          <select class="form-control" id="priority" formControlName="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div> -->

        <div class="mb-3 mx-auto">
          <button type="submit" [disabled]="userForm.invalid"
          class="btn btn-primary me-2">{{isEditMode == true ? 'Update' : 'Save'}}</button>

          <button type="button" (click)="cancel()"
          class="btn btn-secondary">Cancel</button>

        </div>
      </form>

    </div>
  </div>

</div>
