<div class="container">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">

      <div class="d-flex justify-content-between mb-3">
        <div class="p-2">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Task....">
        </div>
        <div class="ml-auto p-2">
          <button type="button" class="btn btn-dark" [routerLink]="['/task-add']">New Task</button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col">Priority</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tasks | taskFilter: searchText; let i = index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.dueDate | date: 'dd-MMM-yyyy'}}</td>
            <td>{{item.priority}}</td>
            <td>
                <button type="button" class="btn btn-danger me-3" (click)="onDelete(item.id)">
                  <i class="bi bi-trash3"></i>
                </button>

                <button type="button" class="btn btn-warning" (click)="onEdit(item.id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
